th {
   font-weight: bold;
   padding: 7px;
   background: #ffd300;
   border: none;
   text-align: left;
   font-size: 15px;
   border-top: 3px solid #fff;
   border-bottom: 3px solid #ffd300;
}

td {
   padding: 7px;
   border: none;
   border-top: 3px solid #fff;
   border-bottom: 3px solid #fff;
   font-size: 15px;
}